[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/vim-ls"]
	path = .vim/bundle/vim-ls
	url = https://github.com/gkz/vim-ls.git
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
